@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.main {
  width: 900px;
  background-color: #eff3f4;
  margin: 0 auto;
  padding: 20px;
}

.blue-box:first-child {
  margin-left: 0;
}

.blue-box {
  width: 230px;
  background-color: #3274ae;
  margin-left: 20px;
  padding: 20px;
  float: left;
}

.text-box {
  border: solid #022336 10px;
  background-color: #eaf4ff;
  padding: 20px;
}

.text {
  line-height: 16px;
  font-size: 16px;
}
/* 回答はここに書いてね */
